datadir="{{ proxysql_datadir }}"
errorlog="{{ proxysql_errorlog }}"

admin_variables=
{
{% for item in proxysql_admin_variables | dict2items %}
  {{ item.key }}={{ item.value | to_json }}
{% endfor %}
}

mysql_variables=
{
{% for item in proxysql_mysql_variables | dict2items %}
  {{ item.key }}={{ item.value | to_json }}
{% endfor %}
}

mysql_servers=
(
{% for mysql_server in proxysql_mysql_servers %}
  {
  {% for item in mysql_server | dict2items %}
    {{ item.key }}={{ item.value | to_json }}
  {% endfor %}
  }{% if not loop.last %},{% endif %}
{% endfor %}
)

mysql_users=
(
{% for mysql_user in proxysql_mysql_users %}
  {
  {% for item in mysql_user | dict2items %}
    {{ item.key }}={{ item.value | to_json }}
  {% endfor %}
  }{% if not loop.last %},{% endif %}
{% endfor %}
)

mysql_query_rules=
(
{% for mysql_query_rule in proxysql_mysql_query_rules %}
  {
  {% for item in mysql_query_rule | dict2items %}
    {{ item.key }}={{ item.value | to_json }}
  {% endfor %}
  }{% if not loop.last %},{% endif %}
{% endfor %}
)

scheduler=
(
{% for scheduler in proxysql_schedulers %}
  {
  {% for item in scheduler | dict2items %}
    {{ item.key }}={{ item.value | to_json }}
  {% endfor %}
  }{% if not loop.last %},{% endif %}
{% endfor %}
)

mysql_replication_hostgroups=
(
{% for mysql_replication_hostgroup in proxysql_mysql_replication_hostgroups %}
  {
  {% for item in mysql_replication_hostgroup | dict2items %}
    {{ item.key }}={{ item.value | to_json }}
  {% endfor %}
  }{% if not loop.last %},{% endif %}
{% endfor %}
)

mysql_galera_hostgroups=
(
{% for mysql_galera_hostgroup in proxysql_mysql_galera_hostgroups %}
  {
  {% for item in mysql_galera_hostgroup | dict2items %}
    {{ item.key }}={{ item.value | to_json }}
  {% endfor %}
  }{% if not loop.last %},{% endif %}
{% endfor %}
)
